---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>QR Code Component</title>
  </head>
  <body class="bg-[#d5e1ef] min-h-screen flex items-center justify-center m-0 p-6">
  <slot />
</body>
</html>